/server/node_modules
/app/WindowsPhone/app/app.jsproj.user
/app/WindowsPhone/app/app.sln
/app/WindowsPhone/app/app.jsproj
/app/WindowsPhone/app/app.v12.suo
/app/WindowsPhone/app/images/
/app/WindowsPhone/app/bld/
/app/WindowsPhone/app/bin/
/app/WindowsPhone/app/Scripts/
/app/WindowsPhone/app/packages/
/app/WindowsPhone/app/packages.config
/app/WindowsPhone/app/public/images/
