/***/
section
{
    margin-top: 50px;
}

.nav,
.pagination,
.carousel,
.panel-title a
{
    cursor: pointer;
}

.form-inline
{
    margin-bottom: 5px;
}

.btn-circle
{
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
}

.btn-circle:focus
{
    outline: none !important;
}

#user-picture
{
    border: 0;
    -webkit-border-radius: 0;
    height: 20px;
    margin: 4px 0 0;
    width: 20px;
    margin-top: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th
{
    background-color: #f5f5f5;
    /*cursor: pointer;*/
}

.table-footer
{
    margin: 20px 0px;
}

.panel-title,
.alert-title
{
    font-size: 18px;
}

hr.small
{
    max-width: 150px;
    margin-top: 0;
}

.search-input
{
    border-radius: 20px;
}
/***/

/**
 * Sign form
 */
.form-sign
{
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

.form-sign .form-sign-heading,
.form-sign .checkbox
{
    margin-bottom: 10px;
}

.form-sign .checkbox
{
    font-weight: normal;
    margin-left: 20px;
}

.form-sign .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.form-sign .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px 0 20px;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img
{
    width: 96px;
    height: 96px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.need-help
{
    margin-top: 10px;
}

.new-account
{
    display: block;
    margin-top: 15px;
}
